body {
    background-image: url("../images/cool.jpg");
    font-family: 'Raleway', sans-serif;
    margin: auto;
    text-align: center;
    letter-spacing: 3px;
  }
  
h2, h3, h4, h5, h6 {
  color: #ffffff;
  padding: 10px;
}

h1 {
  color: #ffffff;
  padding: 20px 0px 0px 0px;
  margin: 0px;
}

p {
  color: #262626;
  padding: 5px 0px 30px 0px;
  font-size: 12px;
  letter-spacing: 1px;
}

.main-title {
  display: block;
  margin: auto;
  text-align: center;
}

input[type=text] {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  background-color: transparent;
  color: #ffffff;
  padding: 15px;
  /* border-radius: 100px; */
  border: 0px;
  width: 250px;
  margin: 10px;
  text-align: center;
  border: none;
  border-bottom: 2px solid #ffffff;
}

input::placeholder {
  color: #d6d6d6;
  font-size: 20px;
}

input:focus, .form-line-active textarea:focus {
  border-bottom: 3px solid #ffffff !important;
  /* box-shadow: 0 0 1px #ffffff !important; */
  }
  
input:focus, textarea:focus, select:focus {
  outline-offset: 0px !important;
  outline: none !important;
  }

.submit-button {
  margin: 20px 5px 0px 5px;
  border-radius: 100px;
  border: 0px;
  width: 80px;
  height: 45px;
  font-size: 18px;
  color: #262626;
  font-family: 'Raleway', sans-serif;
}

.inputs {
  display: inline-block;
  margin: auto;
  align-content: center;
  padding: 20px;
}

#weather-content {
  margin: 40px 20px 20px 20px;
  display: flex;
  text-align: left;
  justify-content: center;
}

.cols {
  margin: 0px 20px 0px 20px;
}

.rows {
  margin: 50px 20px 0px 20px;
}

.underlay {
  margin: auto;
  position: absolute;
  padding: 15px, 20px, 5px, 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  z-index: -1;
}