html {
  height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to right top, #5d53bc, #5f62c6, #6171d0, #667fd9, #6c8de1, #6699e9, #61a5ef, #60b1f4, #51bdf7, #4ac8f7, #4ed3f4, #5bddf0);    font-family: 'Raleway', sans-serif;
    margin: auto;
    text-align: center;
    overflow: scroll;
    letter-spacing: 3px;
  }
  
h2, h3, h4, h5, h6 {
  color: #ffffff;
  padding: 10px;
}

h1 {
  color: #ffffff;
  padding: 20px 0px 0px 0px;
  margin: 0px;
}

p {
  color: #262626;
  padding: 5px 0px 40px 0px;
  font-size: 12px;
  letter-spacing: 1px;
}

.main-title {
  display: block;
  margin: auto;
  text-align: center;
}

input[type=text] {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  background-color: transparent;
  color: #ffffff;
  padding: 15px;
  /* border-radius: 100px; */
  border: 0px;
  width: 250px;
  margin: 10px;
  text-align: center;
  border: none;
  border-bottom: 2px solid #ffffff;
}

input::placeholder {
  color: #d6d6d6;
  font-size: 20px;
}

input:focus, .form-line-active textarea:focus {
  border-bottom: 3px solid #ffffff !important;
  /* box-shadow: 0 0 1px #ffffff !important; */
  }
  
input:focus, textarea:focus, select:focus {
  outline-offset: 0px !important;
  outline: none !important;
  }

.submit-button {
  margin: 20px 5px 0px 5px;
  border-radius: 100px;
  border: 0px;
  width: 80px;
  height: 45px;
  font-size: 18px;
  color: #262626;
  font-family: 'Raleway', sans-serif;
}

.inputs {
  display: inline-block;
  margin: auto;
  align-content: center;
  padding: 20px;
}

#weather-content {
  margin: 40px 20px 20px 20px;
  display: flex;
  text-align: left;
  justify-content: center;
}

.cols {
  margin: 0px 20px 0px 20px;
  width: 110px;
}

#plus0, #plus6, #plus12, #plus18, #plus24 {
  /* text-align: center; */
}

.rows {
  margin: 150px 20px 0px 20px;
}

.descriptions {
  margin-top: 72px;
  width: 120px;
}

#icon0, #icon6, #icon12, #icon18, #icon24 {
  font-size: 30px;
  position: relative;
  top: 20px;
  /* left: 20px; */
  color: #ffffff;
}

.underlay {
  width: 1000px;
  height: 400px;
  margin: auto;
  position: absolute;
  padding: 15px, 20px, 5px, 20px;
  /* display: flex; */
  text-align: center;
  justify-content: center;
  z-index: -1;
}

.footer {
  color: #ffffff !important;
  position: absolute; left: 0; right: 0; top: 800px; bottom:0;
}

.footer #footer-text{
  color: #ffffff !important;
}